	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	
	table {
	    width: 100%;
	    border-collapse: collapse;
	    padding: 10px;
	}
	/* Zebra striping */
	
	tr:nth-of-type(odd) {
	    background: #eee;
	}
	
	th {
	    background: #333;
	    color: white;
	    font-weight: bold;
	}
	
	td,
	th {
	    padding: 6px;
	    border: 1px solid #ccc;
	    text-align: left;
	    font-family: monospace;
	}
	
	tr:hover,
	td:hover {
	    background: #55d1da;
	    transition: all 0.1s ease-in-out;
	    background: #4ca9af;
	    transition: all 0.1s ease-in-out;
	    text-align: center;
	    color: #FFF;
	    font-family: monospace;
	    font-size: 24px;
	}