.col-50 {
    float: left;
    width: 46%;
    margin: 1%;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px, black;
    background: #ccc;
    padding: 10px;
}

.center {
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .col-50 {
        margin: 0.5%;
    }
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}